
/*Definindo um estilo para o body das páginas, contando com fonte e fundo.*/
body {
    background-color:rgb(255, 215, 236);
    background-image: linear-gradient( 90deg,  rgba(218,255,234,1) 5.3%, rgba(232,255,231,1) 11.6%, rgba(240,255,233,1) 17.4%, rgba(243,255,226,1) 22.9%, rgba(253,255,228,1) 28.5%, rgba(255,248,225,1) 33.9%, rgba(255,241,229,1) 39.4%, rgba(255,228,222,1) 44.8%, rgba(255,231,231,1) 50.3%, rgba(255,231,243,1) 56.9%, rgba(255,229,255,1) 63.2%, rgba(245,228,255,1) 69.1%, rgba(236,228,255,1) 74.7%, rgba(231,238,255,1) 80.4%, rgba(229,249,255,1) 85.8%, rgba(231,255,250,1) 90.6%, rgba(229,255,243,1) 94.4%, rgba(220,255,228,1) 98.3% );
    color:rgb(108, 0, 56);
    font-family: Georgia, serif;
    text-align: center;
    text-decoration-color: rgb(58, 17, 17);
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}



.Subtitulo{
    min-height: 15px;
    color:rgb(19, 0, 16);
    font-family: Georgia;
    font-weight: bold;
    font-size: larger;
    text-align: center;
    margin-top: 50px;
}

section{
    border: 2px;
    border-color: rgb(242, 39, 161);
    border-style:groove;
    background-color: rgba(255, 197, 239, 0.655);

    img{
        max-height: 350px;
        max-width: 350px;
    }

    p2{
        color:darkmagenta;
    }

    textarea{
        resize: none;
        min-height: 100px;
        min-width: 100px;
    }

    
}

